{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Recipe App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dist/styles.css' %}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap">
  <body>
    <header>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
    </footer>
  </body>
</html>
